.formContainer {
  background-color: rgba(121, 212, 242, 0.596);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo {
      color: darkslategray;
      font-weight: bold;
      font-size: 24px;
    }

    .title{
      color: darkslategray;
      font-weight: bold;
      font-size: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
